# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
poetry.lock

# Pipenv
Pipfile
Pipfile.lock

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Testing
.coverage
.tox/
.nox/
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Pyre
.pyre/

# Bandit
.bandit

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml
*.iws
*.ipr
out/

# VSCode
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Docker
*.dockerfile
*.tar

# Logs
*.log
*.log.*

# Temporary files and directories
*.tmp
*.temp
*.swp
*.swo
*.swn
*~
.cache/
*.bak
*.orig
*.old
*.swp
*.swo

# Specific to ZephCast project
logs/
*.pkl

# docs site
site/
mkdocs.yml-bak
TODO.md

